<div class="form-group">
  <label class="control-label">Search</label>
  <input #search class="form-control" [(ngModel)]="searchKey" />
</div>
<div class="form-group">
  <button class="btn btn-info" (click)="OnSerach()">Search</button>
</div>
<div class="list-group">
  <a href="#"
     *ngFor="let job of jobs"
     class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{job.title}}</h5>
      <small>{{job.postedDate | date:'fullDate'}}</small>
    </div>
    <p class="mb-1">{{job.description}}</p>
  </a>
</div>
